{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}</h2>
{% comment %} <h3>{{ message }}</h3> {% endcomment %}

<br />

<h3>    Globally, an estimated 150 million people are experiencing homelessness. </h3>
    In extreme environments like Arizona, this crisis reaches a breaking point every summer, where brutal heat waves make access to cooling centers and aid, an urgent necessity.
<p>
    Nonprofits work tirelessly to deliver emergency relief and long-term support, but a lack of funding and volunteers keeps vital resources out of reach for many.
    Homeless Stop empowers these front-line organizations by facilitating donations, driving volunteerism, and raising public awareness. By connecting caring individuals directly with local charities, we help ensure no one has to face the elements alone.
    Together, let's stop homelessness—with Homeless Stop.
</p>
<br />
<p> Eric Wang and Edward He, founders </p>


<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img class="img-fluid rounded" src="{% static 'app/images/erichead.jpg' %}" alt="About Us" width="400" height="400">
            <img class="img-fluid rounded" src="{% static 'app/images/edwardhead.jpg' %}" alt="About Us" width="400" height="370">
        </div>
    </div>
    <div class="row justify-content-right">
        <div class="col-auto">
           
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img class="img-fluid rounded" src="{% static 'app/images/aboutus_site_background.png' %}" alt="About Us" sizes="1000px">
        </div>
    </div>
</div>

    {% endblock %}
