{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}</h2>
{% comment %} <h3>{{ message }}</h3> {% endcomment %}

<br />

<p>
    Homelessness is a pressing issue across the world, with an estimated 150 million homeless people, and that number is rising higher and higher every year.
</p>

<p>
    There are countless nonprofit organizations working to combat homelessness, but they are limited by a lack of funding and volunteers.
</p>

<p>
    Homeless Stop seeks to empower these nonprofits by streamlining the process for people to donate, volunteer, and learn about nonprofits that help the homeless.
</p>

<p>
    Together, let's stop homelessness, with Homeless Stop.
</p>

<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img class="img-fluid rounded" src="{% static 'app/images/aboutus_site_background.png' %}" alt="About Us" sizes="1000px">
        </div>
    </div>
</div>

    {% endblock %}
