{% extends "app/layout.html" %}
(% load static %)
{% block content %}
<h1> Homeless Stop at the Thirst Aid Drive</h1>
<h3> Learn more about our active participation in the fight for those less fortunate.</h3>
<h4> Follow us as we work to stop homelessness, one step at a time</h4>

<body>
    <p>
        On June 30th, Homeless Stop partnered with Keys for Change in Thirst-Aid, a summer-long campaign to ensure that no one goes thirsty. By coordinating volunteers across the Phoenix Metropolitan Area, we contributed over 1,500 bottles of clean, bottled water to Thirst-Aid, a small but significant step in the campaign against heat-related deaths.
    </p>
    <br />
    <p>
        Every year, 600 people lose their lives to heat stroke and other heat-related conditions such as dehydration and hyperthermia in Maricopa county, with a significant amount of these individuals being homeless. The homeless are especially vulnerable to the summer heat, lacking basic shelter and ready access to water and air conditioning. Any donation, no matter how small, can save lives.
    </p>

</body>

{% endblock %}
<div class="row justify-content-center">
    <div class="col-auto">
        <img class="img-fluid rounded" src="{% static 'app/images/water_drive_flyer.png' %}" alt="About Us" sizes="1000px">
    </div>

</div>



