{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<h1> Homeless Stop is back with the Thirst Aid Drive</h1>
<h3> Learn more about our active participation in the fight for those less fortunate.</h3>
<h4> Follow us as we work to stop homelessness, one step at a time</h4>

<body>
    <p>
        On September 6th, Homeless Stop once again partnered with Keys for Change in Thirst-Aid, a summer-long campaign to ensure that no one goes thirsty. By coordinating volunteers across the Phoenix Metropolitan Area, we contributed over 1,400 bottles of clean, bottled water to Thirst-Aid, a small but significant step in the campaign against heat-related deaths.
    </p>
    <br />
    <p>
        A big thank you to everyone from Students for Shelter at Desert Mountain High School and BASIS Scottsdale National Honors Society who participated!

    </p>
    <br />
    <p>
        Every year, over 600 people lose their lives to heat stroke and other heat-related conditions such as dehydration and hyperthermia in Maricopa county, with a significant amount of these individuals being homeless. The homeless are especially vulnerable to the summer heat, lacking basic shelter and ready access to water and air conditioning. Any donation, no matter how small, can save lives.
    </p>
    <div class="row justify-content-center mb-5">
        <div class="col">
            <img class="img-fluid rounded" src="{% static 'app\images\water_drive_096_1.jpg' %}" alt="About Us" sizes="100px">
        </div>
        <div class="col">
            <img class="img-fluid rounded" src="{% static 'app\images\water_drive_096_2.jpg' %}" alt="About Us" sizes="100px">
        </div>
        <div class="col">
            <img class="img-fluid rounded" src="{% static 'app\images\water_drive_096_3.jpg' %}" alt="About Us" sizes="100px">
        </div>

    </div>


</body>

{% endblock %}




