{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<h1> Homeless Stop returns to Andre House</h1>
<h3> Learn more about our active participation in the fight to help those less fortunate.</h3>
<h4> Follow us as we work to stop homelessness and help those in need, one step at a time</h4>

<body>
    <p>
        On September 12th, Homeless Stop partnered with Keys for Change and donated 2240 bottles of water for their Thirst Aid initiative.
        Every year, 600 people lose their lives to heat stroke and other heat-related conditions such as dehydration and hyperthermia in Maricopa county, with a significant amount of these individuals being homeless. The homeless are especially vulnerable to the summer heat, lacking basic shelter and ready access to water and air conditioning. Any donation, no matter how small, can save lives.
    </p>
    </p>
    <br />
    <p>
        A big thank you to everyone who participated! A special thank you to Costco for contributing $100 worth of water to the drive!

    </p>
    <br />
    <p>
        Over 15,000 people are affected by homelessness in Maricopa Country alone. You can make a positive impact by volunteering at organizations like Keys to Change and others featured on our site or by donating to them.
    </p>
    <div class="row justify-content-center mb-5">
        <div class="col">
            <img class="img-fluid rounded" src="{% static 'app\images\9.12drive1.jpg' %}" alt="About Us" sizes="100px">
        </div>
        <div class="col">
            <img class="img-fluid rounded" src="{% static 'app\images\9.12.drive2.jpg' %}" alt="About Us" sizes="100px">
        </div>

    </div>


</body>

{% endblock %}