{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div class="alert alert-warning">
    <h3>Homeless Stop is co-hosting with Keys to Change on Thirst Aid, their summer-long heat relief campaign.</h3>
    <p>Together, we are collecting bottled water and other heat relief items for those who need them most.</p>
    <p>Each summer, thousands of individuals experiencing homelessness rely on Key Campus, a collaborative space where many organizations (including us!) come together to provide life-saving services. During the hottest months, water is essential, but it is not always easy to access.</p>
    <p>That’s where you come in..</p>
    <p>Join us on September 6th at the Harrison Gate at Key Campus to donate. We’re collecting bottled water, new socks & underwear, hats, sunglasses, sunscreen, lip balm, travel-size toiletries, cooling towels, and lightweight summer clothing.</p>
    <p>Every donation helps protect lives in the heat; it’s one of the easiest, tangible ways to help.</p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <img class="img-fluid rounded" src="{% static 'app/images/dono_flyer_2.png' %}" alt="About Us" sizes="1000px">
        </div>

    </div>
</div>

<div class="jumbotron">
    <h1>Homeless Stop</h1>
    <h3>Your One-Stop Shop</h3>
    <p class="lead">Find a nonprofit near you to contact, donate, volunteer, and more!</p>
    <p><a href="{% url 'nonprofitlist' %}" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Story</h2>
        <p></p>
        <p><a class="btn btn-default" href="{% url 'about' %}"> Learn More &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2> Questions? Comments? Concerns?</h2>
        <p></p>
        <p><a class="btn btn-default" href="{% url 'contact' %}">Contact Us &raquo;</a></p>
    </div>
    <!-- <div class="col-md-4">
            <h2>Keep for now 4 future publishing hehehehehaw</h2>
            <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
            <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
            </div>
        -->

</div>

<br>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img class="img-fluid rounded" src="{% static 'app/images/aboutus_site_background.png' %}" alt="About Us" sizes="1000px">
        </div>
    </div>
</div>

{% endblock %}
