<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} | Homeless Stop </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <!-- jQuery -->
    <!--<script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.7.1.min.js">-->
    <!-- </script>-->
    <!--<style>
        div.body-content {
            background: url("{% static 'app/images/aboutus_site_background.png' %}");
            background-size: auto;
            opacity: 1;
            background-position:bottom;
            background-repeat: no-repeat;
        }
    </style>-->
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img class="logo" src="{% static 'app/images/logo.png' %}" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'nonprofitlist' %}">Nonprofit List</a></li>
                    <li><a href="{% url 'eventslist' %}">Nonprofit Events</a></li>
                    <li><a href="{% url 'blog'%}"> Newsletter </a></li>
                    <li><a href="{% url 'about' %}">Our Story</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>
                {{ year }} - <span class="fs-5">Homeless Stop</span>
            </p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#nonprofitTable').DataTable({
                order: [[4, 'desc']],
                columns: [
                    {},
                    {},
                    {},
                    {},
                    {
                        visible: false
                    }
                ]
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#eventTable').DataTable({
                order: [[4, 'desc']],
                columns: [
                    {},
                    {},
                    {},
                    {},
                    {
                        visible: false
                    }
                ]
            });
        });
    </script>

</body>
</html>

